@import "tailwindcss";

@theme {
  --color-gfg-green: #2f8d46;
  --color-gfg-dark: #121212;
  --color-gfg-bg: #f8f9fa;
  --color-gfg-text: #2f2f2f;
}

body {
  background-color: var(--color-gfg-bg);
  color: var(--color-gfg-text);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}
